@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    100%
}

body {
    background-image: linear-gradient(to right, #078C5B, #05A65B);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #033725ac;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #042609;
    text-align: center;
    text-shadow: 1px 1px 0px #063a0e9f;
}


h2 {
    color: #064014;
}

p {
    text-align: justify;
}